a:link {
  color: green;
}

a:hover {
  color: red;
}

a:active {
  color: yellow;
} 

.rectangle {
	width: 60px;
	height: 60px;
	background: black;
	
}
.rectangle:hover{
    background: green;
}

#para1 {
  text-align: center;
  color: red;
}

.center {
  text-align: center;
  color: red;
}

p::first-letter {
  color: #ff0000;
  font-size: xx-large;
}

div p {
  background-color: yellow;
}

p:first-child i {
  color: blue;
} 

body {
  margin:0;
  font-family: "Lato", sans-serif;
}

.sidenav {
margin: 0;
padding: 0;
width: 200px;
background-color: #f1f1f1;
position: fixed;
height: 100%;
overflow: auto;
}

.sidenav a {
display: block;
color: black;
padding: 16px;
text-decoration: none;
}

.sidenav a.active {
background-color: #4CAF50;
color: white;
}

.sidenav a:hover:not(.active) {
background-color: #555;
color: white;
}

div.content {
margin-left: 200px;
padding: 1px 16px;
height: 1000px;
}

@media screen and (max-width: 700px) {
.sidenav {
width: 100%;
height: auto;
position: relative;
}

.sidenav a {float: left;}
div.content {margin-left: 0;}
}

@media screen and (max-width: 400px) {
.sidenav a {
text-align: center;
float: none;
}
}

#demo {
  background-color: yellow;
}

